.DS_Store
Thumbs.db
/data/
__pycache__/
*.pyc
.venv/
venv/

.svelte-kit/
.vscode/
node_modules/
package/
gui/static/

gui/.env
gui/.env.*
!gui/.env.example
gui/vite.config.js.timestamp-*
gui/vite.config.ts.timestamp-*

gui/src-tauri/target/
gui/src-tauri/gen/schemas
