.DS_Store
Thumbs.db
/data/*
!/data/tpdp_data.json
!/data/sprites/
!/data/animations/
__pycache__/
*.pyc
.venv/
venv/

.svelte-kit/
.vscode/
node_modules/
package/
build/

gui/.env
gui/.env.*
!gui/.env.example
gui/vite.config.js.timestamp-*
gui/vite.config.ts.timestamp-*

gui/src-tauri/target/
gui/src-tauri/gen/schemas
